# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Python cache e bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
desktop.ini
